

#menu_add{
    
    position: fixed;
    z-index: 2;
    
    min-width: 500px;
    width: 30%;
    height: fit-content;
    padding-bottom: 10px;
    
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    overflow-y: auto;
    
}

#menu_add form{
    overflow-y: auto;
    overflow-x:hidden;
}

#menu_add h1{
    font-family: 'clear-sans';
    border-bottom: 3px solid rgb(128, 0, 255);
    margin: 0;
    background-color: blueviolet;
}

#menu_add h2{
    
    margin: 0;
    margin-bottom: 2%;
    font-family: 'clear-sans';
    margin-right: 80%;
    width: 50%;
    text-align: start;
    margin-left: 10px;
}

#add_all{
    
    margin-left: auto ;
    margin-right: auto;
    margin-top: 20px;
    width:90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
}

#add_input_imagem{
    margin-bottom: 2%;
    height: 100%;
    width: 30%;
    
    display:flex;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid rgb(117, 4, 255);
}


#add_input_descricao{
    margin-bottom: 2%;
    height: 25px;
    width: 70%;
    display:flex;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid rgb(117, 4, 255);
    background-color: rgb(241, 241, 238);
}

#add_input_descricao:focus{
    box-shadow: rgb(50, 50, 93) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
    transition: 0.1s;
    border: 0px;
    border: 3px solid rgb(117, 4, 255);
}



#add_input_codigo{
    margin-bottom: 2%;
    height: 25px;
    width: 10%;
    display:flex;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid rgb(117, 4, 255);
    background-color: rgb(241, 241, 238);

}

#add_select_unidade{
    margin-bottom: 2%;
    height: 25px;
    width: 15%;
    min-width: fit-content;
    display:flex;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid rgb(117, 4, 255);
    background-color: rgb(241, 241, 238);

}

#add_select_unidade:focus{
    box-shadow: rgb(50, 50, 93) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
    transition: 0.1s;
    border: 0px;
    border: 3px solid rgb(117, 4, 255);


}


#add_img{
    width: 100%;
    max-height: 280px;
}



#menu_add img{
    width: 40%;
    max-height: 200px;
    
    object-fit: cover;
    margin-top: 1%;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



#botoes_add {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5%;
    gap: 20%;
    justify-content: center;
    
}
#botoes_add button{
    width: 100px;
    height: 40px;
    font-size:large;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    justify-content:space-around;
}


#botoes_add button:hover{

    box-shadow: rgba(50, 50, 93, 0.829) 0px 13px 27px -5px, rgba(0, 0, 0, 0.822) 0px 8px 16px -8px;
    background-color: rgb(113, 76, 201);
    border-radius: 3px;
    transition: 0.2s;

}