


#menu_registro{
    
    position: fixed;
    border-radius: 10px ;
    z-index: 2;
    height: 19%;
    width: 50%;
    overflow-y: auto;
    border: 20px solid rgba(255, 255, 255, 0.904);
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    font-family: 'clear-sans';
    margin-bottom: 100px;

}


#select_item{
    padding-right: 2%;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    width: 50%;
}

#select_item img{

    
    width:70%;
    height: 80%;
    margin-top: 2%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}



#dados_item{
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    width: 50%;
    padding-left: 2%;
}

#dados_item h1{

    font-family: 'clear-sans';
    border-bottom: 3px solid rgb(128, 0, 255);
    margin: 0;
    background-color: blueviolet;
    border-radius: 20px;
    
    padding: 10px;
    text-align: center;
}




#select_quantidade{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
   

}




#aviso_estoque{

    color: red;
    background-color: rgb(249, 198, 198);
    border-radius: 20px;
    padding: 0%;
}


#botoes_registro{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#botoes_registro button{

    height: 40px;
    width: 100px;
    font-size:large;
    background-color: rgb(221, 212, 230);
    border: 1px solid black;
    border-radius: 5px;
    justify-content:space-around;
    
}

#botoes_registro button:hover{

    color: rgb(255, 255, 255);
    box-shadow: rgba(93, 93, 159, 0.829) 0px 13px 27px -5px, rgba(0, 0, 0, 0.822) 0px 8px 16px -8px;
    background-color: rgb(113, 76, 201);
    border-radius: 3px;
    transition: 0.2s;

}