.card {
    width: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    position: relative;
    display: flex;
    flex-direction: column;
    
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.75) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cardImagem {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cardBody {
    flex: 1;
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

.btnMaisInformacoes {
    color: #7f28d1;
    margin-top: auto;
    align-self: flex-end;
}

.btnMaisInformacoes:hover {
    color: #5a1f9c;
    cursor: pointer;
    text-decoration: underline;
}