.index {
    font-family: 'clear-sans';
    background-color: rgb(238, 238, 238);
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.divFiltros {
    background: linear-gradient( rgb(127, 40, 209), rgb(38, 92, 192));
    border-radius: 30px;
    height: 80px;
    width: 90%;

    margin: 20px;
}

.divCachorros {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

    margin: 20px;
}