.stats {
  background-color: #faf8ff;
  font-family: 'clear-sans', Arial, sans-serif;
  width: 80%;
  height: 90%;
  border-radius: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #222;
  text-align: center;
}

.dog-list-stats {
  
  width: 90%;
  margin: 24px auto;
  border-radius: 16px;
  border: none;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
}

.dog-list-stats tr {
  margin-bottom: 8px;
  font-weight: 600;
  color: #7e7e7e;
}

.dog-list-stats td {
  color: #7e7e7e;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
}

.dog-list-stats td:nth-child(1) {
    color: #555555;
    text-align: left;
}
.dog-list-stats td:nth-child(2) {
    text-align: center;
}
.dog-list-stats td:nth-child(3) {
    text-align: right;
}

.status {
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.status.noveterinário {
  background-color: #ffb347;
}

.status.nopetshop {
  background-color: #4fc3f7;
}

.status.noabrigo {
  background-color: #56e976;
}
.status.adotado {
  background-color: #e95b56;
}

.tituloTabela {
    font-size: 20px;
    color: #ffffff;
}

.divTabelaStats {
    width: 90%;
    background-color: rgb(255, 255, 255);

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 32px;
}

.resumoBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divCabecalho {
    background-color: #7f28d1;

    height: 60px;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px 0 50px;
}

.resumoGrafico {
    height: 350px;
    margin-left: 100px;
}

.resumoTexto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
    font-size: 20px;
    margin-right: 100px;
    padding-bottom: 24px;
}

.resumoTexto strong {
  color: #555555;
  font-size: 18px;
}

.resumoTextoP {
    font-size: 16px;
    color: #7e7e7e;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: left;
}
